* {
    text-decoration: none;
}

body{
    margin: 0;
    background-color: black;
}

.navbar {
    margin: 0%;
    background-color: black;
    font-family: calibri;
    padding-left: 15px;
    padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline;
}

li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button {
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

fieldset {
    width: 30%;
    margin: 50px auto;
    border-radius: 10px;
}

.form {
    margin: 10px;
    margin-top: 0;
    justify-content: center;
    margin-left: 70px;
}

label {
    font-family: calibri;
    color: white;
    font-size: 200%;
}

.username-input {
    width: 300px;
    height: 30px;
}